.form-conte {
    border-radius: 20px;
    height: 440px;
    width: 400px;
    margin: 11px;
    background: linear-gradient(0deg, #274363 0%, #4a76a8 60%);

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: center;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 15px;
}

.form-group input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial;
    border: 4px;
    border-style: solid;
    border-color: #282c34;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
}

.btn-confirmar {
    border-radius: 10px;
    height: 40px;
    width: 130px;
    color: white;
    background-color: orange;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
    border: 4px solid rgb(255, 153, 0);
    cursor: pointer;
}

.btn-confirmar:hover {
    background-color: #005f7a;
    border-color: #00546b;
    transform: translateY(-1px);
}

.btn-volver {
    border-radius: 10px;
    height: 40px;
    width: 130px;
    color: white;
    background-color: #d32f2f;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
    border: 4px solid #b71c1c;
    cursor: pointer;
}

.btn-volver:hover {
    background-color: #005f7a;
    border-color: #00546b;
    transform: translateY(-1px);
}